<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Level Up.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A52B3C6280B463C00656FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A52B3D6280B463E00656FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A52B3E0280B463E00656FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
